ol{
    list-style: none;
    counter-reset: contador;
}
ol li{
    counter-increment: contador;
}
ol li::before{
    content: 'Alumno' counter(contador) ')  ';
    color: blueviolet;
}
ol li::after{
    content: '.';
}